@import 'preloader.css';


@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

* {margin: 0;padding: 0;box-sizing: border-box;}
body {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: #000;
  z-index: -1;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0 !important;
  background-color: #333;
}
body::-webkit-scrollbar-thumb {
  width: 0 !important;
  background-color: #af6000;
}

header {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../images/bg0.jpg");
  height: 100vh;
  width: 100%;
}
header:before {
  position: absolute;
  top: 500px;
  display: block;
  background-image: linear-gradient(180deg, transparent 0%, black 75%);
  height: 100%;
  width: 100%;
  content: '';
}

header > h1 {
  padding-top: 30vh;
  font-size: 6vw;
  text-shadow: 5px 5px 15px #000000;
}
header > p {
  font-size: 1.8vw;
  text-shadow: 3px 3px 5px #000000;
  padding-bottom: 4vw;
}
header > h1 > span {
  color: #e2810a;
}
div#scrollArrow {
  width: 6vw;
  height: 6vw;
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-image: url("../images/scrollArrow.png");
}
