@import 'preloader.css';

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: #000;
  z-index: -1;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  transition: 0.6s ease;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 10px !important;
  background-color: #333;
}
body::-webkit-scrollbar-thumb {
  width: 10px !important;
  background-color: #af6000;
}

header {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../images/bg0.jpg");
  min-height: 100vh;
  width: 100%;
}
header:before {
  position: absolute;
  top: 80vh;
  display: block;
  background-image: linear-gradient(180deg, transparent 0%, black 100%);
  height: 20vh;
  width: 100%;
  content: '';
}

header > h1 {
  padding-top: 30vh;
  font-size: 6.5vw;
  text-shadow: 5px 5px 15px #000000 !important;
}
header > p {
  font-size: 1.96vw;
  text-shadow: 3px 3px 5px #000000 !important;
  padding-bottom: 7vh;
}
header > h1 > span {
  color: #e2810a;
}
div#scrollArrow {
  border-radius: 3vw;
  cursor: pointer;
  width: 6vw;
  height: 6vw;
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-image: url("../images/scrollArrow.png");
}
div#scrollArrow1 {
  border-radius: 3vw;
  cursor: pointer;
  width: 6vw;
  height: 6vw;
  display: block;
  margin: 13vh auto;
  background-size: cover;
  background-image: url("../images/scrollArrow2.png");
}
div#scrollArrow2 {
  border-radius: 3vw;
  cursor: pointer;
  width: 6vw;
  height: 6vw;
  display: block;
  margin: 21vh auto;
  background-size: cover;
  background-image: url("../images/scrollArrow2.png");
}
div#scrollArrow3 {
  border-radius: 3vw;
  cursor: pointer;
  width: 6vw;
  height: 6vw;
  display: block;
  margin: 5vh auto;
  background-size: cover;
  background-image: url("../images/scrollArrow2.png");
  transform: rotate(180deg);

}
/* SLIDE1 */
section {
  width: 100%;
  min-height: 100vh;
}
section.slide1 {
  text-align: center;
}

section.slide1 > h2 {
  padding-top: 5vh;
  color: #e2810a;
  font-size: 5vw;
}
section.slide1 > p {
  text-align: justify;
  padding-top: 5vh;
  margin: 0 auto;
  width: 75vw;
  font-size: 1.75vw;
}
section.slide1 > .overwrap {
  margin-top: 10vh;
}
section.slide1 > .overwrap > .circle {
  margin: 0 1vw;
  font-size: 1.5vw;
  text-align: center;
  padding-top: 3.5vw;
  border-radius: 7.5vw;
  display: inline-block;
  height: 9vw;
  width: 9vw;
  background-size: cover;
  background-image: url("../images/trianglify.svg");
  transition: 0.5s ease;
  cursor: pointer;
}

section.slide1 > .overwrap > .circle:hover {
  transform: scale(1.2);
  background-color: #e2810a;
}
/* SLIDE2 */
section.slide2 {
  text-align: center;
  background-image: url('../images/bg1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section.slide2 > h2 {
  padding-top: 5vh;
  color: #e2810a;
  font-size: 5vw;
}

section.slide2 > .overwrap {
  margin-top: 19vh;
}
section.slide2 > .overwrap > .square {
  margin: 1vw 1vw;
  font-size: 2vh;
  text-align: center;
  padding-top: 8.5vh;
  border-radius: 1vh;
  display: inline-block;
  margin-right: 2vh;
  height: 20vh;
  width: 35vh;
  background-size: cover;
  background-image: url("../images/trianglify.svg");
  transition: 0.5s ease;
  cursor: pointer;

}

section.slide2 > .overwrap > .square:hover {
  transform: scale(1.2);
  background-color: #e2810a;
}

/* SLIDE3 */
section.slide3 {
  text-align: center;
}
section.slide3 > h2 {
  padding-top: 5vh;
  color: #e2810a;
  font-size: 5vw;
}
section.slide3 > form#mail {
  padding: 2vh;
  text-align: left;
  border-radius: 1vh;
  width: 50vw;
  margin: 0 auto;
  margin-top: 5vh;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
}
section.slide3 > form#mail > input[type="text"], #section-2wrapper > form#mail > input[type="email"] {
  width: 50vw;
  margin-bottom: 2vh;
  padding: 1vh;
  border-radius: 1vh;
  outline: none;
  border: none;
}
section.slide3 > form#mail > input[type="text"] {
  width: 75%;
}
section.slide3 > form#mail > input[type="submit"] {
  background-color: #dddddd;
  font-size: 1.5vw;
  font-family: 'Lato', sans-serif;
  margin-top: 1.5vh;
  padding: 0.6vh 2.5vh;
  border: none;
  outline: none;
  border-radius: 0.6vh;
  float: right;
  transition: 0.2s ease;
}
section.slide3 > form#mail > input[type="submit"]:hover {
  background-color: #e2810a;
  color: white;
  cursor: pointer;
}
section.slide3 > form#mail > textarea {
  resize: none;
  width: 100%;
  height: 15vh;
  padding: 1vh;
  border-radius: 0.5vh;
  outline: none;
  border: none;
}
section.slide3 > form#mail > div#left {
  margin-top: 3vh;
  width: 45%;
  float:left;
  text-align: left;
}
section.slide3 > form#mail > div#right {
  margin-top: 3vh;
  width: 45%;
  float: right;
  text-align: right;
}

/* FOOTER */
footer {
	width: 100%;
	margin-top: 10px;
	clear: both;
  height: 65px;
	bottom: 0;
	border-top:1px solid #e2810a;

}
footer > div {
	margin: 0 auto;
	padding-top:20px;
	text-align: center;
}

footer > div > a {
	text-decoration: none;
	font-size: 22px;
	color: #fff;
  font-family: 'Lato', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;

}

footer > div > a:hover {
  	text-decoration: none;
  	font-size: 22px;
  	color: #fff;
    font-family: 'Lato', sans-serif;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}


/* OTHERS */

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;
}

a:hover {
  color: #e2810a;
}


/* MOBLINOŚCI */

@media screen and (max-width: 950px) {
  section.slide3 > form#mail {
    width: 90vw;
  }
  section.slide1 > .overwrap > .circle {
    margin: 0 1vw;
    font-size: 2vw;
    text-align: center;
    padding-top: 9vw;
    border-radius: 10vw;
    display: inline-block;
    height: 20vw;
    width: 20vw;
  }
}

@media screen and (orientation: portrait) {

  header > h1 {
    padding-top: 30vh;
    font-size: 13vw;
  }
  header > p {
    font-size: 5vw;
  }
  div#scrollArrow {
    border-radius: 3vw;
    cursor: pointer;
    width: 19vw;
    height: 19vw;
    display: block;
  }

  /* SLIDE1 */
  section.slide1 > h2 {
    padding-top: 5vh;
    font-size: 9vw;
  }
  section.slide1 > p {
    text-align: justify;
    padding-top: 5vh;
    margin: 0 auto;
    width: 90vw;
    font-size: 5vw;
  }
  section.slide1 > .overwrap {
    display: none;
  }
  div#scrollArrow1 {
    margin: 20vh auto;
    border-radius: 8vw;
    cursor: pointer;
    width: 19vw;
    height: 19vw;
    display: block;
  }


  /* SLIDE2 */
  section.slide2 > h2 {
    padding-top: 2vh;
    color: #e2810a;
    font-size: 5.9vw;
  }
  section.slide2 > .overwrap {
    margin-top: 3vh;
  }
  section.slide2 > .overwrap > .square {
    margin: 1vh auto;
    font-size: 2vh;
    text-align: center;
    border-radius: 5vw;
    display: block;
    height: 20vh;
    width: 90vw;

  }
  div#scrollArrow2 {
    margin: 5vh auto;
    border-radius: 8vw;
    cursor: pointer;
    width: 19vw;
    height: 19vw;
    display: block;
  }

  /* SLIDE3 */
  section.slide3 {
    text-align: center;
  }
  section.slide3 > h2 {
    font-size: 9vw;
  }

  section.slide3 > form#mail {
    padding: 2vh;
    text-align: left;
    border-radius: 1vh;
    width: 50vw;
    margin: 0 auto;
    margin-top: 6vh;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
  }
  div#scrollArrow3 {
    margin: 13vh auto;
    border-radius: 8vw;
    cursor: pointer;
    width: 19vw;
    height: 19vw;
    display: block;
  }

  section.slide3 > form#mail {
    width: 99vw;
  }
}
